
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ICON Query</h1>
</div>


<form method="post">
    <div class="form-group">
        <label for="ssn">SSN</label>
        <select class="form-control" id="ssn" name="ssn">
            <option>555-10-1234</option>
            <option>555-11-1234</option>
            <option>555-12-1234</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />
@if (ViewData["ssn"] != null)
{
    <div>@ViewData["ssn"]</div>
}
